/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* COMMON */
body{
    font-family: 'Fredoka', sans-serif;
    width: 65%;
    margin: auto;
    text-align: center;
}
/* Header */
h1{
    padding-top: 30px;
    padding-bottom: 30px;
    color: rgb(229, 49, 112);
    font-family: 'Fredoka One', cursive;
}
/* Main */
.main-text{
    font-weight: 300;
    font-size: small;
    padding: 20px 0;
}
.clearfix::after{
    content:"";
    display: table;
    clear: both;
}
.col{
    width: calc(100% / 3);
    float: left;
    padding:20px 15px;
}
.card{
    background-color: black;
    box-shadow: 0px 0px 5px ;
}
.card img{
    height: 90px;
    float: left;
}
.card .content{
    float: right;
    width: calc(100% - 100px) ;
    text-align: left;
    color: white;
    font-weight: 300;
}
address{
    font-style: normal;
    color: rgb(110, 203, 242);
    display: inline-block;
}
.card p{
    padding:2px 0;
    font-size: small;
}
.card h3{
    padding: 7px 0px 5px;
}
